*/__pycache__/*
__pycache__/*
trees/tests/__pycache__/*
experiments/*
uppaal_models/*
.benchmark_suite/*
dtcontrol/*
papers/*
random/*
.idea
automated/*/samples/*
automated/*/generated/*
build/*
*.egg-info/*
examples/*
old_texts/*

# ignore experiment results
constructed_*
dt_results.csv
smallest.txt
eval_results.txt
combined_results.csv


## Core latex/pdflatex auxiliary files:
article/build/*
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
article/main.pdf
